<div class="chat-header">
   <div class="left-header">
     <div class="header-title">
       huge
     </div>
   </div>
   <div class="right-header">
     <div class="header-exit">
       <a href="#">チャットを終了する</a>
     </div>
   </div>
</div>

<div class="messages">
  <div class="message">
    <div class="top-massage">
      <div class="name-message">
      yoshi
      </div>
      <div class="date-message">
      2020/09/03
      </div>
    </div>
    <div class="under-message">
      <div class="comment-message">
      おはよう
      </div>
    </div>
  </div>
  <div class="message">
    <div class="top-massage">
      <div class="name-message">
      yui
      </div>
      <div class="date-message">
      2020/09/04
      </div>
    </div>
    <div class="under-message">
      <div class="comment-message">
      今晩わ
      </div>
    </div>
  </div>
</div>


<div class="form">
  <div class="left-form">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>